:root {
    --primary-color: #8ABF44;
    --primary-color-hover: #668a36;
    --text-color: #828282;
    --white-color: #fff;
    --black-color: #000;
    --product-name-color: #6A8491;
    --product-border: #E9E9E9;
    --header-height: 157px;
    --search-height: 100px;
    --navbar-height: 50px;
    --banner-height: 564px;
    --footer-height: 260px;
    --product-width: 250px;
    --product-height: 325px;
}