<div class="overview">
    <div class="overview__info">
        <div class="overview__info-content">
            <div class="overview__info-title">Hoạt động</div>

            <div class="overview__info-contract">
                <div class="overview__info-contract-soluong">
                    <label>Số đơn hàng</label>
                    <span>{{user.totalProduct}}</span>
                </div>
                <div class="overview__info-contract-soluong">
                    <label for="">Số sản phẩm bán được</label>
                    <span>{{user.totalProductSell}}</span>
                </div>
            </div>
        </div>

        <div class="overview__info-content">
            <div class="overview__info-title">Doanh thu</div>

            <div class="overview__info-contract">
                <div class="overview__info-contract-soluong">
                    <label>Tiền bán hàng</label>
                    <span>{{discount user.totalRevenueSeller 0}}</span>
                </div>

                <div class="overview__info-contract-soluong">
                    <label>Mức tăng trưởng so với tháng trước</label>
                    <span>10%</span>
                </div>
            </div>
        </div>

        <div class="overview__info-content">
            <div class="overview__info-title">Top sản phẩm bán chạy</div>

            <div class="overview__info-contract">
                <div class="overview__info-contract-tenspbanchay">
                    <span>Mì bò hầm cải chua Reeva hộp 100g</span>
                    <span>Mì bò hầm cải chua Reeva hộp 100g</span>
                    <span>Mì bò hầm cải chua Reeva hộp 100g</span>
                </div>
            </div>
        </div>
    </div>
</div>