/* container */
.container {
  /* margin: 30px; */ }

.container__description {
  margin: 30px 10px; }

.container__description-contain-img {
  margin: 5px 0 5px 0; }

.container__description-img {
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100%; }

.container__description-title {
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
  margin: 30px 0 30px 0; }

.container__description-descrip {
  font-size: 1.8rem;
  color: var(--text-color);
  line-height: 20px; }

.container__post-item {
  margin: 20px 5px 20px 5px; }

/* .container__topic-item:hover {
    border: 1px solid var(--primary-color);
} */
.container__post-img-link {
  text-decoration: none; }

.container__post-name {
  display: block;
  margin: 15px 0 8px 0;
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1.7rem; }

.container__post-img {
  width: 100%;
  display: block;
  border-radius: 3px;
  margin: auto; }

.container__post-author {
  font-size: 1.4rem;
  color: var(--product-name-color); }
