<div class="footer">
    <div class="grid">
        <div class="footer-content">
            <div class="grid__column-4 footer__customer-service">
                <span class="footer__customer-service-title">CHĂM SÓC KHÁCH HÀNG</span>
                <ul class="footer__customer-service-desc">
                    <li class="footer__customer-service-item">
                        <a href="" class="footer__customer-service-link">
                                Hotline: 1900 1111
                            </a>
                    </li>
                    <li class="footer__customer-service-item">
                        <a href="" class="footer__customer-service-link">
                                Các câu hỏi thường gặp
                            </a>
                    </li>
                    <li class="footer__customer-service-item">
                        <a href="" class="footer__customer-service-link">
                                Hướng dẫn đặt hàng
                            </a>
                    </li>
                    <li class="footer__customer-service-item">
                        <a href="" class="footer__customer-service-link">
                                Chính sách đổi trả
                            </a>
                    </li>
                    <li class="footer__customer-service-item">
                        <a href="" class="footer__customer-service-link">
                                Hỗ trợ khách hàng
                            </a>
                    </li>
                    <li class="footer__customer-service-item">
                        <a href="" class="footer__customer-service-link">
                                Báo lỗi mật khẩu: security@delivefood.vn
                            </a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-4 footer__about">
                <span class="footer__about-title">VỀ DELIVEFOOD</span>
                <ul class="footer__about-desc">
                    <li class="footer__about-item">
                        <a href="" class="footer__about-link">
                                Giới thiệu
                            </a>
                    </li>
                    <li class="footer__about-item">
                        <a href="" class="footer__about-link">
                                Chính sách bảo mật thanh toán
                            </a>
                    </li>
                    <li class="footer__about-item">
                        <a href="" class="footer__about-link">
                                Chính sách bảo mật thông tin cá nhân
                            </a>
                    </li>
                    <li class="footer__about-item">
                        <a href="" class="footer__about-link">
                                Chính sách giải quyết khiếu nại
                            </a>
                    </li>
                    <li class="footer__about-item">
                        <a href="" class="footer__about-link">
                                Điều khoản sử dụng
                            </a>
                    </li>
                    <li class="footer__about-item">
                        <a href="" class="footer__about-link">
                                Bán hàng doanh nghiệp
                            </a>
                    </li>
                </ul>
            </div>

            <div class="grid__column-4 footer__partner-pay">
                <div class="footer__partner">
                    <span class="footer__partner-title">ĐỐI TÁC LIÊN KẾT</span>
                    <ul class="footer__partner-desc">
                        <li class="footer__partner-item">
                            <img src="/img/Footer/GrabExpress.png" alt="" class="footer__partner-img">
                        </li>
                        <li class="footer__partner-item">
                            <img src="/img/Footer/AhaMove.png" alt="" class="footer__partner-img">
                        </li>
                        <li class="footer__partner-item">
                            <img src="/img/Footer/Be.png" alt="" class="footer__partner-img">
                        </li>
                    </ul>
                </div>

                <div class="footer__pay">
                    <span class="footer__pay-title">PHƯƠNG THỨC THANH TOÁN</span>
                    <ul class="footer__pay-desc">
                        <li class="footer__pay-item">
                            <img src="/img/Footer/Visa.png" alt="" class="footer__pay-img">
                        </li>
                        <li class="footer__pay-item">
                            <img src="/img/Footer/MasterCard.png" alt="" class="footer__pay-img">
                        </li>
                        <li class="footer__pay-item">
                            <img src="/img/Footer/Money.png" alt="" class="footer__pay-img">
                        </li>
                        <li class="footer__pay-item">
                            <img src="/img/Footer/OnlineBanking.png" alt="" class="footer__pay-img">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="grid__column-4 footer__connect">
                <span class="footer__connect-title">KẾT NỐI VỚI CHÚNG TÔI</span>
                <div class="footer__connect-desc">
                    <img src="/img/Footer/QR_Code.png" alt="" class="footer__connect-qr">
                    <div class="footer__connect-apps">
                        <img src="/img/Footer/gg play.png" alt="" class="footer__connect-apps-img">
                        <img src="/img/Footer/app store.png" alt="" class="footer__connect-apps-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>