<div class="grid">
    <div class="container__content">
        <div class="error-img">
            <img src="/img/404.png" alt="">
            <span>Quay lại trang chủ để thực hiện thao tác của bạn</span>
        </div>
    </div>
</div>