<div class="container__banner">
    <img src="img/About/Banner.png" alt="Banner About Us" class="container__banner-img" />
    <div class="container__banner-text">
        <span class="container__banner-text-big"> DeliveFood </span>
        <div class="container__banner-text-sub">
            Bạn muốn trở thành Đối tác bán hàng của DeliveFood?
            <a href="#">Ấn vào đây</a>
        </div>
    </div>
</div>

<div class="container-content">
    <div class="grid">
        <div class="container__about">
            <div class="container__about-title">
                Mang đến cho bạn thực phẩm tươi sống, thiết yếu đúng giá và nhanh chóng
            </div>
            <div class="container__about-subtitle">
                Nhanh chóng trợ giúp nhu cầu mua sắm thực phẩm của bạn với những loại thực phẩm tươi, các sản phẩm thiết yếu và dịch vụ giao hàng “thần tốc”. DeliveFood hiện đang được thử nghiệm tại tất cả các quận ở TPHCM. Chúng tôi sẽ mở rộng thêm nhiều khu vực trong
                thời gian tới!
            </div>
            <div class="container__about-quote">
                “You want, you pick, you order </br>
                We sell, we sort, we delivery”
            </div>
            <div class="container__about-grid">
                <div class="container__about-columns">
                    <div class="container__about-pic">
                        <img src="img/About/Pic1.png" />
                    </div>
                    <div class="container__about-grid-title">
                        Giao hàng tận tay chỉ sau vài lần chạm
                    </div>
                    <div class="container__about-grid-text">
                        DeliveFood có đội ngũ giao hàng nhanh thần tốc, mang đến cho bạn nguồn thực phẩm tươi ngon nhanh nhất có thể, dù bạn đang ở đâu.
                    </div>
                </div>
                <div class="container__about-columns">
                    <div class="container__about-pic">
                        <img src="img/About/Pic2.png" />
                    </div>
                    <div class="container__about-grid-title">
                        Đa dạng lựa chọn
                    </div>
                    <div class="container__about-grid-text">
                        Danh sách mặt hàng đa dạng phục vụ nhu cầu của bạn trong thời gian giãn cách.
                    </div>
                </div>
            </div>
            <div class="container__about-minibanner">
                <div class="container__about-2-columns">
                    <div class="container__about-4-columns">
                        <img src="img/About/MiniBanner1.png" />
                    </div>
                    <div class="container__about-4-columns">
                        <img src="img/About/MiniBanner2.png" />
                    </div>
                </div>
                <div class="container__about-2-columns">
                    <div class="container__about-4-columns">
                        <img src="img/About/MiniBanner3.png" />
                    </div>
                    <div class="container__about-4-columns">
                        <img src="img/About/MiniBanner4.png" />
                    </div>
                </div>
            </div>
            <div class="container__about-action">
                <button type="button" onclick="location.href='./HomePage.html';">Khám phá ngay</button>
            </div>
        </div>
    </div>
</div>