<div class="account__content">
    <form action="/user/account/password/change" method="POST" class="account__content-warpp" id="change-password-form">
        <div class="account__content-title">Đổi Mật khẩu</div>

        <div class="account__content-info">
            <div class="account__content-info-title">
                <ul class="account__content-info-title-list">
                    <li class="account__content-info-title-item">Mật khẩu mới</li>
                    <li class="account__content-info-title-item">Xác nhận mật khẩu</li>
                </ul>
            </div>

            <div class="account__content-info-content">
                <div class="account__content-info-content-password auth-form__group">
                    <div class="account__content-group-input">
                        <input type="password" name="password" id="password" class="auth-form__input">
                        <i class="far fa-eye edit-table" id="togglePassword" style="top: 8px"></i>
                    </div>
                    <div class="form-message"></div>
                </div>

                <div class="account__content-info-content-password auth-form__group">
                    <div class="account__content-group-input">
                        <input type="password" id="re_password" class="auth-form__input">
                        <i class="far fa-eye edit-table" id="togglePassword" style="top: 8px"></i>
                    </div>
                    <div class="form-message"></div>
                </div>
            </div>
        </div>

        <div class="account__content-control">
            <button class="btn btn--primary account__content-control-btn">Lưu lại</button>
        </div>
    </form>
</div>